<main role="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col main-top">
        <div class="main-top-left">
          <h1>My lists</h1>
        </div>
        <div class="main-top-right">
          <div class="btn-group btn-group-sm">
            <button class="btn btn-secondary">
              <i class="fas fa-plus"></i>
              New list
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row main-content">
      <div class="main col">
        <div class="container-fluid mt-4">
          <!-- Page contents -->
          <app-shopping-lists></app-shopping-lists>
        </div>
      </div>
    </div>
  </div>
</main>
