.main-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 10px;

  .main-top-left {
    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .main-top-right {

  }
}

.main-content {
  .main-sidebar {
  }

  .main {
    background-color: #f1f5ff;
    padding-bottom: 10px;
  }
}
